@font-face {
  font-family: "TEST";
  src: url("../toolw/riffic-bold-webfont.woff2") format("woff2"),
    url("../tools/riffic-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

mark.red {
  color:#ff0000;
  background: none;
}

html {
  font-family: "TEST";
}

.level-presentation button {
  font-family: "TEST";
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  color: black;
  width: 450px;
  margin: auto;
  background: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.home-background {
  background-image: url("../images/vip-neon-lights-entrance-way-background.jpg");
}

.game-title {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  color: white;
  width: 450px;
  margin: auto;
  margin-top: 3%;
}


.game-level {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  color: black;
  width: 420px;
  margin: auto;
  margin-top:  15%;
}



.level-presentation {
 /*display: none;*/
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  color: black;
  width: 450px;
  height: 360px;
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: auto;
  margin-bottom: -29%;
  margin-top: -5%;
}

.level-presentation h3 {
  color: black;
  text-decoration: underline;
}

.level-presentation p {
  font-style: italic;
  font-weight: ;
}



.play-level-3 div {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    font-variant: small-caps;
}

.play-level-3 h2 {
    text-align: center;
    margin-right: 0;
    margin-left: 90px;
}





.play3 {
  color: white;
  margin-left: 22%;
}


.play-level-3 {
  /*display: none;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  color: black;
  width: 455px;
  height: 430px;
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: auto;
  margin-bottom: 8px;
}



.start-container,.progress-container {
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
}



.timer-l3 {
  color: red;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.btn-start-3 {
  font-family: "TEST";
  color: white;
  background-color: rgb(150, 6, 119);
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  width: 44px;
  height: 40px;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}


.level-presentation button {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: black;
  width: 200px;
  margin: 125px;
  margin-bottom: 16%;
  margin-top: 11%;
}

.img-container-level-3 {
  margin: 0 auto;
  margin-left: 30%;
  margin-right: 50%;

  justify-content: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  display: inline-flex;
  width: 50%;
  height: 50%;
  border: 1px solid;
  border-radius: 5%;
  box-shadow: 0 0 10px 2px;
}



.level-3-background {
  background-image: url("../images/spotlight-scene-background.jpg");
}

.answer-l3 {
  font-family: "TEST";
  font-weight: bold;
  background: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: white;
  width: 200px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 0;
  cursor: text;
}

.submit-l3 {
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  cursor: pointer;
}


.stars-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 180px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin-left: 6%;
  margin-top: 12%;
}


.fa-star {
  width: 20px;
  margin-right: -20%;
}

.gold {
  color:gold
}

.grey {
  color:grey
}

